<h1>Welcome to online shopping!</h1>
 
<div class="products">
    @for (product of products; track $index) {
    <div class="product" (click)="getProduct(product)">
        <img [src]="product.url" alt="">

        <div class="details">
            <h2> {{product.name}} </h2>

            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio modi, vero fugit architecto
            </p>

            <h4>Rs {{product.price}}</h4>
        </div>
    </div>
    }
</div>